

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Fredoka", sans-serif;
    font-weight: 400;
    font-style: normal;
 
    
}

body {
  cursor: default;
    line-height: 1.6;
    overflow-x: hidden;
    background: url(images2/layered-waves-haikei.svg);
    background-size: cover;
}
 


.content {
    flex: 1;
    margin-left: 270px;
    overflow-x: hidden;


}

/*  */
.navbar {
    background: #030516;
    color: #fff;
    padding: 20px;
    border-bottom: #ffa345 3px solid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    margin: auto;
    overflow: hidden;
}
.nav-links {
    display: flex;
    gap: 20px;
 
    

}

.nav-links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    transition: scale .2 ease;
}
.nav-links a:hover {
    scale: 1.05;
    color: #f3b751;
} 

.contact-btn {
    background-color: #ffa345;
    color: rgb(0, 0, 0);
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale .2 ease;
}

.contact-btn:hover {
    scale: 1.05;
    background-color: #f3b751;
    box-shadow: 0 0 27px rgb(240, 210, 155);
    color: rgb(0, 0, 0);
}

.contact-btn:active {
    scale: 0.95;
} 
.contact-btn a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 13px;
}
.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
.mobile-menu {
    display: none;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 30px;
    background:url(images2/meanbg.svg);
    background-size: cover;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    border-bottom: #ffa345 3px solid;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 999;
} 

.mobile-menu a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    transition: scale .2 ease;
}
.mobile-menu a:hover {
    scale: 1.05;
    color: #f3b751;
} 

.navbar .brand {
        font-size: 2rem;
        font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
        color: #d494ee;
    cursor: pointer;
    transition: scale .2 ease;
}
.navbar .brand:hover {
    scale: 1.05;
    color: #f3b751;
} 
.navbar .brand span {
    font-size: 2rem;
    font-family: "Poiret One", sans-serif;
font-weight: 400;
font-style: normal;
    color: #f0af36;
      
}

/* TITLE */
section#head {
    /* background: url(c:/Users/User/Downloads/blob-scatter-haikei.svg); */

    min-height: 84vh;
    display: flex;
    align-items: center;
    color: white;
    margin: 0 ;
    padding: 0 100px;
}

/* General Styles */
#head h3 {
    display: flex;
    justify-content: flex-start;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: #eeeeff;
}

#head h2 span {
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #eeeeff;
    font-size: 6rem;
    margin-bottom: 1rem;
    line-height: 130px;
}

#head .folio {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #FFA500;
    font-size: 14rem;
    margin-bottom: 1rem;
    cursor: pointer;
    line-height: 130px;
    transition: scale .2 ease;
}
#head .folio:hover {
    scale: 2.05;
    color: #ebd3a2;
    text-shadow: 0px 0px 20px #f0af36,
    0px 0px 40px #f7ead2;
} 

/*  */
/* 0 */
.container0{
    margin:20px;
    background-color: rgba(0, 0, 0, 40%);
    border-radius: 10px;
}
/* 1 */



 .container1 {
      display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-top: 60px;
    height: auto;
    /* background: #624185; */
    color: #fdfcfd;
    /* font-family: "Euclid Circular A", "Poppins"; */
}

 
.a1 {
    display: flex;
    align-items: center;
    width: 75vw;
    max-width: 650px;
    padding: 44px 30px 44px 20px;
    background: #f39f3e;
    border-radius: 24px;
  }
  
  .a1 img {
    max-width: 280px;
    width: 36vw;
    height: 300px;
    object-fit: cover;
    margin-left: -60px;
    margin-right: 30px;
    border-radius: inherit;
    box-shadow: 0 60px 40px rgb(0 0 0 / 30%);
    transition: border-radius 0.3s;
  }
  
  .a1 h2 {
    font-size: 3rem;
    font-weight: 400;
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 10px;
  }
  
  .a1 h3 {
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
    opacity: 0.75;
  }
  
  .a1 p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
    opacity: 0.5;
  }
 
/* 2 */
.container2 {
    display: grid;
    height: 150vh;
    /* Change height to auto for better mobile support */
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(10, 1fr);
    /* background-color: black; */
    background-size: cover;

    padding: 1rem 5%;
    /* Add padding for responsiveness */
}


/* Adjust divs */
.container2>div {
    text-align: center;
}

.wok {
    grid-row: 1/2;
    grid-column: 1/6;
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    text-align: center;
    color: #f0af36;
    font-size:7rem;
    
}

/* Image Grid */
.image {
    grid-column: 1/17;
    grid-row: 2/11;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 1fr);
    
}

/* Image 1 */
.image1 {

    grid-column: 1/7;
    grid-row: 1/5;
    position: relative;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;

}

/* Image 2 */
.image2 {

    cursor: pointer;

    grid-column: 1/7;
    grid-row: 5/8;
    position: relative;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.text2 {
    text-align: left;
}

/* Large Image */
.image12 {
    cursor: pointer;

    grid-column: 7/14;
    grid-row: 1/8;
}

/* Hover Effect */
.txt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    /* Dark overlay */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.img:hover .txt {
    opacity: 1;
    transform: translateY(0);
}

/*  */

/* 3 */
.container3 {

    display: grid;
    /* height: 250vh; Change height to auto for better mobile support */
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 1fr);
    /* background-color: black; */
    background-size: cover;
    gap: 30px;
    padding: 1rem 5%;
    /* Add padding for responsiveness */
}

/* Adjust divs */
.container3>div {
    text-align: center;
}

/* Image 3 */
.image3 {
    cursor: pointer;

    grid-column: 1/7;
    grid-row: 1/4;
    position: relative;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Image 4 */
.image4 {
    cursor: pointer;

    grid-column: 7/14;
    grid-row: 1/4;
    position: relative;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.image5 {
    cursor: pointer;

    grid-column: 1/7;
    grid-row: 4/10;
    position: relative;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}

.image6 {
    cursor: pointer;

    grid-column: 7/14;
    grid-row: 4/10;
    position: relative;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.image7 {
    cursor: pointer;

    grid-column: 1/7;
    grid-row: 1/10;
    position: relative;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.image8 {
    cursor: pointer;

    grid-column: 7/14;
    grid-row: 1/10;
    position: relative;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}


.text1 h4,
.text2 h4,
.text3 h4,
.text4 h4,
.text5 h4,
.text6 h4,
.text7 h4 {
    font-size: 3rem;
    margin: 0;

}

.text1 p,
.text2 p,
.text3 p,
.text4 p,
.text5 p,
.text6 p,
.text7 p {
    font-size: 1rem;
    margin: 0;

}
/*  */

/* contact */

.containerc {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    /* background-color: #ffa345; */
}

.contact {
    display: flex;
    padding: 20px;
    max-width: 600px;
}

.contact-info {
    margin-right: 6rem;
}

.contact-info .social-icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.contact-info .social-icons a {
    display: inline-block;
    width: 32px;
    height: 32px;
    cursor: pointer;

}

.contact-info .social-icons img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.contact-form h2 {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 7rem;
    color:#eeeeff;

}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    opacity: 10px;
}

.contact-form button {
    background: #000000;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s ease;
}



.contact-form button:hover {
    background-color: #fbd5ff;
    box-shadow: 0 0 27px white;
    color: rgb(0, 0, 0);
}

.contact-info h2 {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 7rem;
    color:#eeeeff;


}

.contact-info p {
    /* font-family: "Staatliches", sans-serif; */
    font-weight: 400;
    font-style: normal;
    color:#eeeeff;
    font-size: 1rem;
}
.contact-info h4 {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 3rem;
}

.social-icons img {
    box-shadow: inset 0 0 7px #ffcc99, 0 0 7px #ffcc99;
    transition: 1s ease;
}

.social-icons img:hover {
    transform: scale(1.1);
}

/* Services */

.Services {
    margin: 2rem 3rem;
}

.ss {
    display: flex;
    justify-content: flex-start;
}

.Services .t {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFA500;
    font-size: 7rem;
    text-align: start;
}

.Services .tx {
    font-size: 1.5rem;
    color: #FFA500;


}

.service {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service h3 {
    font-size: 1.5rem;
    color: #fdfcfd;
    margin-bottom: 10px;

}
.card {
    background: #f39f3e;
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    cursor: pointer;

}

.card p {
    color: #fdfcfd;
    opacity: 0.5;

}

.card:hover {
    box-shadow: 10px 5px 30px -15px rgba(0, 0, 0, 50%);
}



/*  */

/* Footer */
footer {
    background: #000000;
    background-image: url(svg/low-poly-grid-haikeiB.svg);
    background-size: cover;
    padding: 2rem;
    color: white;
    text-align: center;
}

.footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 1rem;
}

.footer ul li {
    margin: 0 1rem;
}

.footer ul li a {
    color: white;
    transition: border-bottom 0.3s ease;
}

.footer ul li a:hover {
    border-bottom: 2px solid var(--accent-color);
}

/* Responsive styles */


    /* Responsive Styles */
    @media screen and (max-width:850px) {
    
        section#head {
            margin: 0 20px;
            /* Reduce margin for smaller screens */
            text-align: center;
            /* Center align content */
            flex-direction: column;
            justify-content: center;
        }

        #head h3 {
            font-size: 1.5rem;
            /* Reduce font size */
        }

        #head h2 span {
            font-size: 2.5rem; /* Reduce from 6rem */
        }

        #head .folio {
            line-height: 10px;
            font-size: 5rem; /* Reduce from 14rem */
        }

    }


    /* 📱 Responsive work */
    @media screen and (max-width:850px) {
        .container2 {
            display: flex;
            flex-direction: column;
            height: auto;
            padding: 2rem;
            text-align: center;
        }

        .image,
        .container3 {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .img {
            width: 90%;
            grid-column: auto;
            grid-row: auto;
            margin-bottom: 1.5rem;
        }

        .txt {
            width: 100%;
            text-align: center;
            grid-column: auto;
            grid-row: auto;
            padding: 0 1rem;
        }

     .text1 h4,
        .text2 h4,
        .text3 h4,
        .text4 h4,
        .text5 h4,
        .text6 h4,
        .text7 h4 {
            font-size: 2rem;
        }

        .text1 p,
        .text2 p,
        .text3 p,
        .text4 p,
        .text5 p,
        .text6 p,
        .text7 p {
            font-size: 0.8rem;
        }

        

        .container2,
        .container3 {
            grid-template-columns: 1fr;
        }

        .image {
            grid-template-columns: 1fr;
        }

        .wok {
            font-size: 5rem;
        }
    }


    /* Responsive Contact */
    @media screen and (max-width:850px) {
        .containerc {
            flex-direction: row;
            flex-wrap: wrap;
            height: auto;
            justify-content: center;
        }

        .contact-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: auto;
            width: 100%;
            border: none;
            padding: 0 50px;
            margin: 0;
        }


        .contact-info {

            margin: 0;
            padding-bottom: 50px;
            text-align: center;
            align-items: center;

        }

        .contact-form h2 {
            font-size: 3rem;
        }

        .contact-info h2 {
            font-size: 3rem;
        }
    }

    @media (min-width:850px) {
        .containerc {
            flex-wrap: nowrap;
        }

        .contact-info {
            margin-right: 0;
            text-align: center;
        }

    }

    /* Responsive Services */
    @media screen and (max-width: 1000px) {

        .Services .ss {
            font-size: 3rem;
            display: flex;
            justify-content: center;
        }

        .Services .tx {
            font-size: 1.5rem;
            text-align: center;
        }
    }


    @media (max-width: 850px) {
    
        .content {
            margin-left: 0;
            width: 100%;
            padding-top: 100px; /* Account for the fixed header */
        }


        .service {
            flex-wrap: wrap;
        }


    }

    @media (min-width: 850px) {

        .content {

            margin-left: 0;
        }


    }

    @media (max-width: 768px) {

        .navbar {
            border-bottom: none;
            justify-content: space-between;
        
        }
        .nav-links {
            display: none;
        }
        .menu-icon {
            display: block;
        }
        .mobile-menu.show {
            display: flex;
            padding-top: 50px;
        }

        .cb {
            display: none;
        }
    }

    @media (width <= 800px) {
         .container1 {
                display: flex;
                height: auto;
                margin: 4rem 2rem;
                padding: 4rem 1rem;
                text-align: center;}
        .a1 {
          margin: 0 40px;
          padding-left: 30px;
          padding-right: 30px;
          padding-bottom: 40px;
          width: 100%;
          text-align: center;
          flex-direction: column;
        }
      
        .a1 h2 {
          margin-right: 0;
          font-size: 26px;
        }
      
        .a1 img {
          margin: -100px 0 30px 0;
          width: 100%;
          max-width: 1000px;
          height: 300px;
        }
      
        .a1 p {
          max-width: 360px;
        }
      
      }
      
      @media (width <= 440px) {
        .a1 img {
          height: 50vw;
          width: 50vw;
          border-radius: 50%;
          object-fit: contain;
          /* border: 12px solid black; */
          /* box-shadow: none; */
          margin: -140px 0 30px 0;
        }
      }

/*  */
